@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;

}


.heading {
  text-align: center;
  font-size: 46px;
  line-height: 58px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1E1B1B;
  opacity: 1;
  margin-bottom: 2rem;

}

.sub_heading {
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #5D6065;
  opacity: 1;
  margin-bottom: 0;
}

.acc_navbar {
  background-color: #fff;
  padding: 27px 0px !important;
  box-shadow: 0px 0px 5px #00000026;
  position: absolute !important;
  z-index: 999 !important;
  top: 0;
  left: 0;
  width: 100%;
  transition: top .4s linear;
}



.acc_navbar.active {
  background-color: #fff;
  animation: move .5s ease-in-out;
  box-shadow: 0 0 5px #cfcfcfa6;
  position: fixed !important;
  z-index: 9999 !important;
}

@keyframes move {

  0% {
    top: -100px;
  }

  100% {
    top: 0px;
  }
}

.acc_navbar a {
  font-size: 22px;
  font-weight: 500;
}

.accordionTable {
  padding-top: 6rem;
  margin-bottom: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 1170px !important;
  padding: 70px 20px;
  width: 100% !important;
  z-index: 99;
}


.TableSection .gridSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #fff !important;
  justify-content: center;
  position: sticky;
  top: 103px;
  z-index: 99;
}

.gridSection .TableHeadingOne {
  align-items: center;
  border-radius: 15px;
  display: flex;
  margin-right: 15px;
  padding: 12px 14px;
  background-color: #eff0ff;
}

.tableHead p {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 4px;
}

.tableHead a {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #0014FF;
  opacity: 1;
}

.gridSection .TableHeadingOne .TableImg {
  width: 135px;
}

.gridSection .tabletitle {
  margin-bottom: 0px;
}

.gridSection .TableHeadingTwo {
  align-items: center;
  border: 1px solid #ecdcea;
  color: #1e1b1b;
  display: flex;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 15px;
  height: 140px;
}

.gridSection .TableHeadingThree {
  align-items: center;
  border: 1px solid #ecdcea;
  color: #1e1b1b;
  display: flex;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 15px;
  height: 140px;
  border-left: inherit;
}

.tableSection Table {
  margin-bottom: 0 !important;
}

.tableSection .accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.tableSection .accordion-button::after {
  background-image: url("./img/up.png") !important;
  background-size: 27px !important;
  width: 29px;
  height: 23px;
  background-repeat: no-repeat;
}

.tableSection .accordion-button, .tableSection .accordion-button.collapsed {
  padding: 24px 24px;
  background-color: #0014FF !important;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF !important;
  opacity: 1;

}

.tableSection .accordion-item {
  border: none !important;
}


.tableSection .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.tableSection .accordion-item:first-of-type .accordion-button.collapsed {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.tableSection .accordion-item:last-of-type .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.tableSection .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.tableSection .accordion {
  border-radius: 0px !important;
}

.tableSection .accordion-header {
  border-radius: 0px !important;
}

.tableSection .accordion-body {
  padding: 0px;
}

.tableSection tbody tr td>p {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 0;
}

.tableSection tbody tr td:nth-child(1)>p {
  padding: 0px 0px 0px 12px;
}

.tableSection tbody tr td:nth-child(1) {
  text-align: left !important;
}

.tableSection tbody tr td:nth-child(1) {
  border-right: 1px solid #ccc;
}

.tableSection tbody tr td:nth-child(3) {

  border-left: 1px solid #ccc;
}

.tableSection tbody tr td {
  vertical-align: middle;
  height: 92px;
  text-align: center;
  width: 300px;
}

.tableSection tbody tr {
  border: none;
}

.tableSection .ColColor tbody tr:nth-child(even) {
  background-color: #F6F6FF;
}




/* ///////////swiper acc///////// */



.swiperaccordion {
  background: transparent linear-gradient(269deg, #F7E8FF 0%, #EFF4FF 100%) 0% 0% no-repeat padding-box;
  padding-top: 1rem;
}


.mySwiper img, .mySwiper1 img {
  width: 284px !important;
  height: 100%;
}

/* .mySwiper .swiper-slide, .mySwiper1 .swiper-slide {
  display: flex;
  justify-content: flex-end;
} */

/* .mySwiper .swiper-pagination, .mySwiper1 .swiper-pagination {
  left: 0 !important;
  top: 31%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50% !important;


} */

.swiperaccordion .opacity {

  animation: blur .5s ease-in-out forwards;
  opacity: 1;
}

@keyframes blur {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

/* 
.SliderSwiper .tab-content .tab-pane.active {
  filter: blur(0px);
  animation: blur .3s ease-in-out forwards;

}

@keyframes blur {
  0% {
    filter: blur(2px);
  }


  50% {
    filter: blur(1px);
  }

  100% {
    animation-delay: 1s;
    filter: blur(0px);
  }

} */

.Swiper1, .Swiper2 {
  width: 300px;
  height: 400px;

}


.SliderSwiper .swiperaccordion {
  position: relative;
  padding-bottom: 3rem;
}

.Relative {
  position: relative;
}

.AccordionSection .nav-link {
  border: 1px solid #0014FF !important;
  padding: 14px 53px;
  border-radius: 25px !important;
  font-size: 14px;
  color: #0014FF;
  text-align: center;
  letter-spacing: 0px;
  box-shadow: 0px 10px 18px #F44C4C0D;

}

.AccordionSection .nav-item {
  margin-right: 20px;
}

.AccordionSection .nav-link.active {
  background: #0014FF !important;
  color: #FFFFFF !important;
}

/* swiper acccordion with slider */

.swiperaccordion .accordionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.mySwiper .progressBar, .mySwiper1 .progressBar {
  width: 100%;
  height: 2px;
  background-color: rgb(222, 221, 221);
  border-radius: 1px 0px 0px 1px;

}




.mySwiper .swiper-pagination-bullet-active .progressBarValue,
.mySwiper1 .swiper-pagination-bullet-active .progressBarValue {
  width: 0%;
  animation: load 8s ease-in forwards;
  height: 2px;
  background-color: #0014FF !important;
  z-index: 3;
  border-radius: 1px 0px 0px 1px;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


.renderSlider .morefeatures {
  position: relative;
}

.renderSlider .morefeatures a {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #1E1B1B;
  opacity: 1;
  z-index: 5;
}

.SliderSection .accordionAbsolute .Accsmall {
  text-align: left;
  letter-spacing: 0px;
  color: #0014FF;
  opacity: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;

}

.SliderSection .accordionAbsolute .AccHead {
  text-align: left;
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 0px;
  color: #1E1B1B;
  opacity: 1;
  margin-bottom: 1.7rem;
}

.accordionAbsolute .ButtonGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ButtonGroup .BtnRider {
  padding: 14px 53px;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  opacity: 1;
}

.ButtonGroup .BtnDriver {
  padding: 14px 53px;
  border-radius: 25px;
  color: blue;
  font-size: 14px;
}

.ButtonGroup .BtnRider.on {
  background: #0014FF !important;
  color: #fff !important;
}

.ButtonGroup .BtnRider.off {
  background-color: transparent !important;
  color: blue !important;
  box-shadow: 0px 10px 18px #F44C4C0D;
}

.ButtonGroup .BtnDriver.offdriver {
  background-color: transparent !important;
  color: blue !important;
  box-shadow: 0px 10px 18px #F44C4C0D;
}

.ButtonGroup .BtnDriver.ondriver {
  background-color: #0014FF !important;
  color: #fff !important;
}



.mySwiper .swiper-pagination .swiper-pagination-bullet, .mySwiper1 .swiper-pagination .swiper-pagination-bullet {
  height: auto;
  border-radius: inherit;
  width: 100%;
  background: transparent;
  margin: 0px !important;
  opacity: 1;
}

.page .AccSlide {
  width: 100%;
}


/* animation-direction: alternate;
animation-duration: 8s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
animation-name: countingBar;
animation-timing-function: ease-in;
background-color: #f66b00;
z-index: 1; */


.AccSlide .slideAcc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 21px 0px;
}

.AccSlide .accorsub.none {
  display: none;
}

.page.swiper-pagination-bullet-active .AccSlide .accorsub.none {
  display: block !important;

}

.SlideArrow .arrowimg {
  width: 14px !important;
  margin-right: 27px;

}

.page.swiper-pagination-bullet-active .SlideArrow .arrowimg {
  transform: rotate(180deg);
}


.AccSlide .acchead {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #1E1B1B;
  opacity: 1;
  font-weight: 500;

}

.AccSlide .accorsub {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #1E1B1B;
  opacity: 1;
  padding: 0px 50px 40px 0px;
  margin-bottom: 0;
}

.mySwiper .sliderContent, .mySwiper1 .sliderContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
}

.swiperaccordion .swiper {
  display: flex;
  flex: 1;
  align-items: stretch;
  overflow: visible;
  /* align-items: flex-start;
  overflow: visible !important; */

}



.swiperaccordion .mySwiper .swiper-pagination, .swiperaccordion .mySwiper1 .swiper-pagination {
  width: 100%;
  position: relative;
  left: -100% !important;
  margin-top: 13rem;

}

.swiperaccordion .page {
  width: 500px !important;

}


/* Dotted animation section */
.DottedAnis {
  margin-bottom: 20rem;
  background: #f7f7f7 0 0 no-repeat padding-box;
  padding: 3rem 0rem;
}

.DottedAnis .FirstDotted {

  position: relative;
  margin-bottom: 5rem;
}

.DottedCircle {
  position: absolute;
  left: 25px;
  width: 100%;
  top: 12px;
}


.Tooltip .RecentUpdate {
  z-index: 1;
  position: relative;
}

.circleAnim {
  stroke-dashoffset: 100;
  animation: rotatecircle 2s linear infinite;
}

@keyframes rotatecircle {
  0% {
    stroke-dashoffset: 0;

  }

  100% {
    stroke-dashoffset: 100;

  }

}


.DottedAnis .dottedRow {
  display: flex;
  flex-direction: column;

}

.DottedAnis .FirstDotted .UpdateMove {
  left: 43%;
  top: -37px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.dashedImg .dashedTitle, .UpdateMove .dashedTitle {
  color: #1e1b1b;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 1;
  text-align: center;
  margin: 20px 0 0 0;

}




.DottedAnis .SecondDotted {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dashedImg .Tooltip .circleImg.Active {
  transform: scale(1.2);
}

.dashedImg .Tooltip {
  position: relative;
}

.Tooltip .MobileAlign {
  position: relative;
  z-index: 1;
}


.Tooltip .TooltipBox {
  padding: 12px 10px;
  position: absolute;
  display: none;
  top: 120px;
  left: -28px;
  width: 280px;
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 4px;
  box-shadow: 0 7px 23px #00000029;
  z-index: 1;
}


.dashedImg .TooltipBox.LastChild {
  left: -183px !important;
}

.dashedImg .Tooltip:hover .TooltipBox {
  display: block;
  z-index: 3;
}

.UpdateMove .Tooltip:hover .TooltipBox {
  display: block;
  z-index: 3;
}

.TooltipBox .Tooltipcontent {
  text-align: left;
}

.TooltipBox .Tooltipheading {
  color: #1e1b1b;
  font-size: 14px;
  font-weight: 600;
}

.TooltipBox .Tooltipsubheading {
  color: #5d6065;
  font-size: 12px;
  margin: 0;
}

/* .SecondDotted div>p {
  text-align: center;
  margin: 30px 0 0 0;

} */


.dottedRow .SecondDotted:after {
  position: absolute;
  content: "";
  height: 1px;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #afafaf, 68%, transparent 0%);
  background-repeat: repeat-x;
  background-size: 10px 1px;
  background-position: center;
  animation: border 7s infinite linear;
}

@keyframes border {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 300px 0px;
  }
}



@media (max-width: 1365px) and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media screen and (min-width:1200px) {
  .swiperaccordion .page {
    width: 660px !important;

  }

}

@media (min-width:768px) and (max-width:1200px) {

  .dashedImg .TooltipBox.FirstChild {
    left: -5px !important;
  }
}

@media screen and (max-width:1200px) {
  .container {
    padding: 40px 20px !important;
  }

  /* .mySwiper .sliderContent, .mySwiper1 .sliderContent {
    display: none;
  } */

  .swiperaccordion .AccordionSection {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    padding-bottom: 2rem;
  }



  .mySwiper .swiper-pagination, .mySwiper1 .swiper-pagination {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
  }

  .AccSlide .slideAcc {
    width: 100% !important;
  }


  .mySwiper.one .swiper-pagination .swiper-pagination-bullet, .mySwiper1.one .swiper-pagination .swiper-pagination-bullet {
    width: 100% !important;
    display: block;
  }

}

@media (min-width:992px) and (max-width:1200px) {
  .DottedAnis .FirstDotted .UpdateMove {
    left: 43%;
    top: -36px;
  }
}

@media (min-width:768px) and (max-width:991px) {

  .gridSection .TableHeadingOne .TableImg {
    width: 80px;
    margin-right: 3px;
  }

  .accordionTable .TableSection {
    margin-top: 2.5rem;
  }

  .tableHead a {
    font-size: 15px;

  }

  .swiperaccordion .page {
    width: 390px !important;
  }

  .DottedAnis .FirstDotted .UpdateMove {
    left: 43%;
    top: 8px;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .DottedCircle {
    position: absolute;
    left: 26px;
    width: 100%;
    top: 28px;
  }







}


@media screen and (min-width:991px) {
  .accordionTable .TableSection {
    margin-top: 5.5rem;
  }
}


@media screen and (max-width:991px) {
  .container {
    max-width: 100% !important;
  }
}

@media screen and (max-width:767px) {

  .TableSection .gridSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #fff !important;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 99;
    width: 900px;
  }

  .swiperaccordion .mySwiper .swiper-pagination, .swiperaccordion .mySwiper1 .swiper-pagination {
    margin-top: 0rem;

  }

  .swiperaccordion .mySwiper .swiper-wrapper {
    top: 0;
  }

  .SliderSection .accordionAbsolute {
    position: relative;
    padding-bottom: 2.5rem;

  }

  .mySwiper img, .mySwiper1 img {
    width: 287px !important;
    height: 100%;
  }

  .swiperaccordion .mySwiper .swiper-pagination, .swiperaccordion .mySwiper1 .swiper-pagination {
    left: 0 !important;
    top: 0px !important;
  }

  .swiperaccordion .swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .swiperaccordion .page {
    width: 100% !important;
  }

  .mySwiper .sliderContent, .mySwiper1 .sliderContent {
    align-items: center !important;
  }

  .SliderSection .accordionAbsolute .AccHead {
    font-size: 33px;
  }



  .TableSection .tableSection {
    width: 900px;
  }

  .accordionTable .TableSection {
    overflow-x: scroll;
    width: 100%;
    margin-top: 1.5rem;
  }

  .tableHead a {
    font-size: 20px;

  }

  .container {
    width: 100% !important;

  }

  .heading {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0rem;

  }

  .sub_heading {
    text-align: center;
    font-size: 14px;
    color: #0000006e;
    font-weight: 500;
  }

  .DottedAnis .SecondDotted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 60px;

  }

  .DottedAnis .dottedRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .DottedAnis .FirstDotted .UpdateMove {

    left: 0;
  }

  /* .SecondDotted {
    height: auto;
    width: 10px;
    background: linear-gradient(0deg, green 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 3px 10px;
    background-position: 0px 0px;
    padding: 10px;
    animation: border 5s infinite linear;
  }

  @keyframes border {
    0% {
      background-position: 0px 0px;
    }

    100% {
      background-position: 0px 300px;
    }
  } */



  .dottedRow .SecondDotted:after {
    height: auto;
    background-image: linear-gradient(0deg, #afafaf, 68%, transparent 0%);
    background-repeat: repeat-y;
    background-size: 1px 10px;
    bottom: 0;
    left: 46px;
    top: 0;
    right: 0;


  }

  @keyframes border {
    0% {
      background-position: 0px 0px;
    }

    100% {
      background-position: 0px 300px;
    }
  }


  .Tooltip .MobileAlign {

    display: flex;
    align-items: center;
    gap: 20px;

  }

  .dashedImg .dashedTitle {
    margin: 0;
  }

  .Tooltip .TooltipBox {
    top: 86px;
    left: -56px;
  }

  .dashedImg .TooltipBox.LastChild {
    left: -58px !important;
  }

  .UpdateMove .TooltipBox.FirstRecent {

    left: -86px;
  }

  .DottedAnis .FirstDotted {
    margin-bottom: 0;
  }

  .DottedCircle {
    display: none;
  }
}




@media screen and (min-width:768px) {}

@media screen and (max-width:383px) {
  .accordionAbsolute .ButtonGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 17px;
  }

}